.box {
    background: rgba(217, 217, 217, 0.3);
    border-radius: 5px;
    width: 175px;
    height: 63px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 15px;
    margin-right: 128px;
}

.box_item {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.box_number {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

@media (max-width:920px) {
    .box {
        margin-right: 30px;
        width: 132px;
        height: 75px;
    }
}