.button_logout {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.4;
  background: 0;
  border: 0;
  cursor: pointer;
  width: max-content;
  height: max-content;
  min-width: max-content;
  min-height: max-content;
}

.button_logout:hover {
  background: 0;
  border: 0;
  text-decoration: underline;
}

.user {
  display: flex;
  gap: 0 4px;
}

.user_info {
  display: flex;
  flex-direction: column;
  gap: 3px 0;
  align-items: flex-end;

}

.image {
  width: 32px;
  height: 32px;
  display: block;
  background: #b8b8b8;
  object-fit: cover;
  object-position: center;
}

.image_wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

